# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Uploads and temporary files
uploads/*
!uploads/.gitkeep
static/reports/brain_tumor_report_*.pdf
!static/reports/brain_tumor_report_2f4df015.pdf
!static/reports/brain_tumor_report_5f9f7239.pdf

# IDE / System
.vscode/
.idea/
*.swp
.DS_Store
